//Variables de colores
$verde: #7cea9c;
$petroleo: #2d3047;
$negro: #071013;
$petronegro: #535568;
$blanco: #ffffff;



$lato: 'Lato', sans-serif;

$black:900;
$bold: 700;
$regular:400;
$light: 300;

$xxx-large: 4rem;
$xx-large: 3rem;
$x-large: 2rem;
$large: 1.6rem;
$medium: 1.3rem;