.contenido--colores  {
    background-color: $verde;
    color: $petroleo;
}

.contenido--position {
    padding-left: 25vw;
}

.contenido__secciones--dimention {
    padding: 3rem 2rem 3rem 0rem;
    margin-right: 20%;
    border-bottom: 1px solid $petroleo;
}

h1 {margin-bottom: 0.5rem;}

.parrafo__header--espacio {
    margin: 5rem 0rem;
}

.parrafo--espacio {
    margin: 3rem 0rem;
}

