

.contenido--position {
    padding-left: 25vw;
    padding-top: 25vh;
}

.contenido__secciones--dimention {
    padding: 5rem 2rem 11rem 0rem;
    margin-right: 20%;
    border-bottom: 2px solid $petronegro;
}

h1 {margin-bottom: 0.5rem;}

.parrafo__header--espacio {
    margin: 5rem 0rem;
}

.parrafo--espacio {
    margin: 3rem 0rem;
}

i { color: $petronegro;}

p,
h4 {
    color: $petronegro;
}

.experiencia--padding {
    padding-left: 0px;
    padding-right: 0px;
}

.experiencia--margint {
    margin-top: 8rem;
}

.educacion--margint {
    margin-top: 6rem;
}